# Project exclude paths
/.gradle/
/Meal Planner (Java)/task/build/
/Meal Planner (Java)/task/out/
/Meal Planner (Java)/task/test/

# course config files
*.yaml

# gradle config
build

# idea config
.idea

/Topics